pipeline_jsons/pl_ingest_population_data.json
{
    "name": "pl_ingest_population_data",
    "properties": {
        "activities": [
            {
                "name": "Validation if file exists",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_population_raw_gz",
                        "type": "DatasetReference"
                    },
                    "timeout": "0.00:00:10",
                    "sleep": 5
                }
            },
            {
                "name": "Get Source Metadata",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Validation if file exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_population_raw_gz",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "columnCount",
                        "size"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "Source File Column Number Check",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Source Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(activity('Get Source Metadata').output.columnCount,13)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Failed Communication",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": "https://www.dummy.com",
                                "method": "POST",
                                "body": "Dummy"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Copy Population Data",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_population_raw_gz",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_populatin_raw_tsv",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "Delete Source File",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy Population Data",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "ds_population_raw_gz",
                                    "type": "DatasetReference"
                                },
                                "logStorageSettings": {
                                    "linkedServiceName": {
                                        "referenceName": "la_blob_covidreportingsa",
                                        "type": "LinkedServiceReference"
                                    },
                                    "path": "logs"
                                },
                                "enableLogging": true,
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "folder": {
            "name": "Vineela"
        },
        "annotations": [],
        "lastPublishTime": "2021-10-04T05:27:15Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}